html {
    background-color: white;
}

.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.top-buffer {
    margin-top: 20px;
}

.color_thumbnail {
    padding-top: 15px;
    max-width: 85%;
    height: auto;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
}

.coloring-group h2, .worksheet-group h1 {
    font-size: 200%;
    color: green;
}

.coloring-group, .worksheet-group {
    margin-top: 50px;
    margin-bottom: 50px;
}

.thumbnail-grouping h5 {
    width: 100%;
    font-size: 150%;
    text-align: center;
}

div.ui-datepicker{
 font-size:25px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: black;
/*        background-color: #2764E8;*/
    background-color: #FAA200;
    }

.nav-pills > li.active > a:hover {
/*            background-color: #2764E8;*/
            color:black;
/*    color: #FAA200;*/
        }

.nav a {
/*  color: #5a5a5a;*/
    color: black;
  font-size: 15px;
  font-weight: normal;
  padding: 14px 25px;
  text-transform: uppercase;
}

#school-picture {
    width: 100%;
    height: 100%;
}

h3 span {
    color: red;
}

#google_map {
    position: relative;
    float: left;
    margin-right: 50px;
}


.ui-tooltip, .arrow:after {
    background: #1990E5;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
  
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -15px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
    border-bottom:none;
    border-right:none;
    z-index:-1;
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }  

.access_main {
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: #f7f7f7;
}

.images {
    
    margin-bottom: 50px;  
}

.info {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*<a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>*/

/*class="ui-datepicker-next ui-corner-all"*/


.ui-datepicker-prev, .ui-datepicker-prev:hover, .ui-datepicker-prev:active {
/*    border: 10px solid purple;*/
    background-image: url(images/prev.png);
    background-repeat: no-repeat;
    background-position: center;
/*    background-image:url('http://goo.gl/04j7Nn');*/
}

.ui-datepicker-prev:hover, .ui-datepicker-prev:active {
/*    border: 10px solid purple;*/
    background-image: url(images/prev.png);
    background-repeat: no-repeat;
    background-position: center;
/*    background-image:url('http://goo.gl/04j7Nn');*/
}

.ui-datepicker-next, .ui-datepicker-next:hover, .ui-datepicker-next:active {
/*    border: 10px solid purple;*/
    background-image: url(images/next.png);
    background-repeat: no-repeat;
    background-position: center;
/*    background-image:url('http://goo.gl/04j7Nn');*/
}

/*
#datepicker > div > div > a.ui-datepicker-prev.ui-corner-all {
    background-image:url('http://goo.gl/04j7Nn');
}

.ui-widget-content .ui-icon {
    border: 4px solid black;
background: src="pics/1.jpg";
}
*/

.slides {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 550px;
    height: 300px;
    border: 4px solid #24292B";
}

#slider1_container {
    position: relative;
    width: 550px;
    max-width: 100%;
    height: 300px;
    float: right;   
}

td.red_highlight {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;  

}
td.red_highlight a {background: #99dd73 url(images/red_highlight.png) 50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}

.red_highlight:hover:after {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
  
    box-shadow: 0 0 7px black;
}

td.green_highlight {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.green_highlight a {background: #99dd73 url(images/green_highlight.png) 50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}


.info .container {
/*    border: 1px solid black;*/
}

/*
.nav li {
  display: inline;
}
*/

.button-text {
     background:none!important;
     border:none; 
     padding:0!important;
    color: #00b0ff;
    
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}

hr {
    height: 4px;
    color: ;
    background: orange;
    font-size: 0;
    margin: 0px 0px 0px 0px;
    border: 1px solid orange;
}

.jumbotron {

/*    background-image: url('images/jumbotron2.jpg');*/
    background-color: orange;
    
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:25px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000;
}

.learn-more {
/*  border: solid 1px orange;*/
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.float-right-text {
}

.float-left-image {
    float: left;
    margin-right: 10px;
    width: 48%;
}

.float-right-image {
    float: left;
    margin-right: 10px;
    width: 48%;
}

.clear-both {
    clear: both;
    color: red;
}

.events {
    height:500px;
}


.thumbnail-grouping {
/*    border: 1px solid green;*/
    height: auto;
    width: 100%;
    border: 1px solid black;
}

.footer {
    width: 100%;
    background-color: orange;
    height: 50px;
}

.footer h3 {
    text-align: center;
    padding-top: 15px;
}




#color-red {
    color: red;
}

#center-header {
    padding-top: 30px;
    text-align: center;
}

div.ui-datepicker{
        font-size:15px;
    }
